.search-bar {
  display: flex;
  padding: 10px 16px;
  background-color: @primary-color;
  font-size: 14px;
  justify-content: space-between;
  .input {
    flex: 4;
    height: 36px;
    min-height: 0 !important;
    background-color: rgba(0, 0, 0, 0.12);
    vertical-align: middle;
    input {
      font-size: 14px;
      line-height: 36px;
      color: #ffffff;
    }
    :global {
      .am-list-line::after {
        display: none !important;
      }
      .am-input-clear {
        background-color: transparent;
      }
    }
  }
  .search {
    height: 36px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 36px;
    background-color: rgba(0, 0, 0, 0.12);
    color: #ffffff;
    margin-left: 16px;
  }
}
.match-list {
  background-color: #ffffff;
  min-height: calc(100vh - 56px);
  .list-item {
    display: flex;
    height: 36px;
    padding-left: 16px;
    align-items: center;
    border-bottom: 1px solid #dddddd;
  }
  .icon {
    color: #888888;
    margin-right: 10px;
  }
}

.index-btn {
  padding: 0 16px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-radius: 12px;
  color: #797f80;
  margin: 10px 0 10px 8px;
  &:hover {
    color: #ffffff;
  }
}

.active-btn {
  background-color: @primary-color;
  color: #ffffff;
}

.tips {
  color: #797f80;
  font-size: 12px;
  padding-left: 16px;
}
